https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html


https://stackoverflow.com/questions/22898824/filtering-pandas-dataframes-on-dates

# Read the data as time range

## Method 1

In [70]:
import pandas as pd
import numpy as np
stock = pd.read_csv("All_stocks_yfinance/TCS.NS.csv" , index_col = "Date" , squeeze = True)
Privous_Year = stock.loc['2020-01-01':'2020-12-31']
Privous_Year

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-01,2168.000000,2183.899902,2154.000000,2167.600098,2122.810791,1354908
2020-01-02,2179.949951,2179.949951,2149.199951,2157.649902,2113.065918,2380752
2020-01-03,2164.000000,2223.000000,2164.000000,2200.649902,2155.177490,4655761
2020-01-06,2205.000000,2225.949951,2187.899902,2200.449951,2154.981689,3023209
2020-01-07,2200.500000,2214.649902,2183.800049,2205.850098,2160.270264,2429317
...,...,...,...,...,...,...
2020-12-24,2909.000000,2921.350098,2883.199951,2909.350098,2903.824219,1807144
2020-12-28,2910.000000,2949.699951,2902.000000,2929.399902,2923.835938,2108994
2020-12-29,2920.000000,2952.000000,2920.000000,2930.500000,2924.933838,1994151
2020-12-30,2934.399902,2947.699951,2902.000000,2909.300049,2903.774170,2637968
2020-12-31,2900.000000,2905.000000,2845.000000,2862.750000,2857.312500,4040956

## Method 2

In [51]:
from datetime import datetime
# import datetime
# datetime.datetime.strptime
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d')
df = pd.read_csv("All_stocks_yfinance/TCS.NS.csv", parse_dates=['Date'], date_parser=dateparse)
Privous_Year = df[(df['Date']>pd.Timestamp(2020,1,1)) & (df['Date']<pd.Timestamp(2020,12,31))]
Privous_Year

,Date,Open,High,Low,Close,Adj Close,Volume
2702,2020-01-02,2179.949951,2179.949951,2149.199951,2157.649902,2113.065918,2380752
2703,2020-01-03,2164.000000,2223.000000,2164.000000,2200.649902,2155.177490,4655761
2704,2020-01-06,2205.000000,2225.949951,2187.899902,2200.449951,2154.981689,3023209
2705,2020-01-07,2200.500000,2214.649902,2183.800049,2205.850098,2160.270264,2429317
2706,2020-01-08,2205.000000,2260.000000,2202.050049,2255.250000,2208.649414,5197454
...,...,...,...,...,...,...,...
2945,2020-12-23,2876.050049,2919.000000,2865.449951,2908.750000,2903.225342,2790988
2946,2020-12-24,2909.000000,2921.350098,2883.199951,2909.350098,2903.824219,1807144
2947,2020-12-28,2910.000000,2949.699951,2902.000000,2929.399902,2923.835938,2108994
2948,2020-12-29,2920.000000,2952.000000,2920.000000,2930.500000,2924.933838,1994151
2949,2020-12-30,2934.399902,2947.699951,2902.000000,2909.300049,2903.774170,2637968

## Method 3

In [65]:
from datetime import date
import pandas as pd
from datetime import datetime
# import datetime
# datetime.datetime.strptime
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d')
df = pd.read_csv("All_stocks_yfinance/TCS.NS.csv", parse_dates=['Date'], date_parser=dateparse)
value_to_check = pd.Timestamp(date.today().year - 2, 12, 31)  
filter_mask = df['Date'] > value_to_check 
filtered_df = df[filter_mask]
filtered_df

,Date,Open,High,Low,Close,Adj Close,Volume
2701,2020-01-01,2168.000000,2183.899902,2154.000000,2167.600098,2122.810791,1354908
2702,2020-01-02,2179.949951,2179.949951,2149.199951,2157.649902,2113.065918,2380752
2703,2020-01-03,2164.000000,2223.000000,2164.000000,2200.649902,2155.177490,4655761
2704,2020-01-06,2205.000000,2225.949951,2187.899902,2200.449951,2154.981689,3023209
2705,2020-01-07,2200.500000,2214.649902,2183.800049,2205.850098,2160.270264,2429317
...,...,...,...,...,...,...,...
3040,2021-05-17,3055.000000,3075.199951,3036.000000,3069.750000,3069.750000,2890462
3041,2021-05-18,3100.000000,3124.000000,3078.000000,3088.800049,3088.800049,2098538
3042,2021-05-19,3084.000000,3118.000000,3067.100098,3082.000000,3082.000000,1986041
3043,2021-05-20,3067.100098,3088.800049,3052.100098,3060.000000,3060.000000,2329027
3044,2021-05-21,3061.000000,3088.199951,3055.100098,3080.500000,3080.500000,1685566

## Read the muliple csv file and save into data frame

##### How to read all csv in folder

In [15]:
# import pandas as pd
# import glob
# files = glob.glob("All_stocks_yfinance/*.csv")

# df = pd.DataFrame()
# for f in files:
#     csv = pd.read_csv(f)
#     df = df.append(csv)